html {
  /* background:#0c1216; */
  background: url("https://images.wallpaperscraft.com/image/stars_galaxy_milky_way_starry_sky_night_sky_119125_3840x2160.jpg")
    repeat;
  background-size: cover;
  color: #c9e9ff;
  font-family: "Carter One", cursive;

}
body {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.pageHeading{
  font-family: 'Bangers', cursive;
  font-size:50px;
  margin:0.5;
  letter-spacing:0.2rem;
}

.App {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.resultsCard {
  background: #0c1216;
  box-shadow: #c9e9ff 2px 2px 0;
  border: #c9e9ff 2px solid;
  border-radius: 20px;
  padding: 1.5rem;
}
p {
  font-size: 30px;
}
h1 {
  font-size: 40px;
}

.btCont {
  display: flex;
  flex-direction: column;
}
.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 70vh;
  /* border:#ffb07c solid 3px; */
}
.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 70vh;
}

#img-alter {
  width: 15rem;
  border-radius: 50px;
  box-shadow: #c9e9ff 2px 2px 0;
  /* animation: float 3s ease-out infinite; */
}

.hero {
  animation: float 3s ease-out infinite;
}
form {
  width: 20rem;
  border: #c9e9ff 2px solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: transparent;
  border-radius: 20px;
  margin: 3rem auto;
  background: #0c1216;
}

input {
  margin: 0 0 0.5rem 1rem;
}

button {
  background: transparent;
  border-radius: 20px;
  color: #c9e9ff;
  border: solid #c9e9ff 3px;
  font-size: 1.5rem;
  padding: 0.7rem 1.2rem;
  margin: 0.5rem;
  font-family: "Carter One", cursive;
  letter-spacing:0.3rem;
}
form > button {
  /* // height:1rem; */
  font-size: 1rem;
  padding:0.4rem 0.6rem;
 
  
}
button:hover{
  background: #c9e9ff;
  color: black;
}

.inputform {
  display: flex;
  justify-content: center;
  align-items: center;
}
.avenger {
  animation: float 3s ease-out infinite;
  animation-duration: 3s;
}
.hero1,
.hero2 {
  animation: float 3s ease-out infinite;
}

@keyframes float {
  50% {
    transform: translate(0, 40px);
  }
}


@media all and (max-width: 414px) {
  .hero-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height:1000px;
    margin-top:100px;
  }
  .cards, .hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .pageHeading{
    font-size:40px;
  }

  .fightBtn{
    position:relative;
    margin-top:200px;
    width:6rem;
    font-size:1.5rem;
    font-family: "Carter One", cursive;
    border: solid #c9e9ff 2px;
  }

  #img-alter {
    width: 10rem;
    border-radius: 50px;
    box-shadow: #c9e9ff 2px 2px 0;
    /* animation: float 3s ease-out infinite; */
  }
  p {
    font-size: 10px;
  }
  h1 {
    font-size: 30px;
  }
  
}
